# Ignora arquivos binários gerados pelo gcc
*.exe
*.out

# Ignora os binários gerados pelo código python
*.bin

# Ignora arquivos gerados pelo vscode
*.vscode

# Ignora arquivos temporários gerados pelo latex
temp-files
